<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Editar productos</title>

<!-- ESTILOS BOOTSTRAP CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">


</head>
<body>
	<!-- ESTILOS BOOTSTRAP, NAVBAR, CABECERA -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">Control de productos</a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/nuevo">Agregar producto</a></li>
			</ul>
			
		</div>
	</nav>
	<br>
	<!-- Agrego un formulario para registrar un nuevo producto -->
	<div class="container">
		<!-- esto seria para contener las filas -->
		<div class="row">
			<!-- esto seria para contener las columnas y su descripcion -->
			<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center">Editar producto</h1>
				<div calss="card-body">
					<form th:action="@{/guardar}" th:object="${producto}" method="post">
						<div class="form-group">
							<label >Producto Id: </label>
							<input type="text" name=id th:field="*{id}" class="form-control" readonly="readonly">
						</div>
						<div class="form-group">
							<label >Nombre: </label>
							<input type="text" name=nombre th:field="*{nombre}" class="form-control" placeholder="Ponga el nombre del producto" required>
						</div>
						<div class="form-group">
							<label >Marca: </label>
							<input type="text" name=marca th:field="*{marca}" class="form-control" placeholder="Ponga la marca del producto" required>
						</div>
						<div class="form-group">
							<label >Fabricado en: </label>
							<input type="text" name=hechoEn th:field="*{hechoEn}" class="form-control" placeholder="Ponga donde fue fabricado el producto" required>
						</div>
						<div class="form-group">
							<label >Precio: </label>
							<input type="number" name=precio th:field="*{precio}" class="form-control" required>
						</div>
						<div class="box-footer">
						
							<button class="btn btn-success">Guardar</button>
							
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


</body>
</html>